In [2]:
import numpy as np
import pandas as pd

In [3]:
pd.reset_option("display.max_rows")
pd.reset_option("display.max_columns")
pd.reset_option("display.max_colwidth")

In [4]:
df=pd.read_csv('it_job_descriptions.csv')
df=df.drop(columns=['Job Id', 'location','latitude', 'longitude','Company Size','Contact','Company Profile','Contact Person','Job Portal','Benefits','Company','Country','Contact Person','Job Posting Date'])

In [5]:
len(df)

344666

In [6]:
df=df.rename(columns={
    "Experience":"experience",
    "Qualifications":"qualification",
    "Salary Range":"salary_range",
    "Work Type":"work_type", 
    "Preference":"gender",
    "Job Title":"job_title",
    "Role":"role",
    "Job Description":"job_description",
    "Responsibilities":"responsibilities",
    "Company Profile":"company_profile"
})

In [7]:
import pandas as pd
max_rows_per_title = 3500
df = (
    df.groupby('job_title', group_keys=False)
      .apply(lambda x: x.sample(n=min(len(x), max_rows_per_title), random_state=42))
      .reset_index(drop=True)
)

print(df.shape)
print(df['job_title'].value_counts())

(101397, 10)
job_title
Data Analyst                   3500
Data Engineer                  3500
Web Designer                   3500
UX/UI Designer                 3500
UX Researcher                  3500
UI Developer                   3500
Systems Engineer               3500
Systems Analyst                3500
Systems Administrator          3500
Software Tester                3500
Software Engineer              3500
Software Developer             3500
Software Architect             3500
QA Analyst                     3500
Network Technician             3500
Network Security Specialist    3500
Network Engineer               3500
Java Developer                 3500
IT Support Specialist          3500
IT Manager                     3500
Front-End Engineer             3500
Front-End Developer            3500
Database Developer             3500
Database Administrator         3500
Data Scientist                 3500
Web Developer                  3500
Network Analyst                3482
IT Administrator               3476
QA Engineer                    3439
Name: count, dtype: int64

/var/folders/1d/6_kdmv4964vgsqrd5qjtcgxh0000gn/T/ipykernel_1525/3411689763.py:5: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda x: x.sample(n=min(len(x), max_rows_per_title), random_state=42))

In [8]:
len(df)

101397

In [9]:
df['experience']=(
    df['experience']
    .str.lower()
    .str.extract(r'(\d+)')                      
    .astype(float)                             
    .fillna(0)   
)

In [10]:
df.head()

,experience,qualification,salary_range,work_type,gender,job_title,role,job_description,skills,responsibilities
0,4.0,B.Tech,$60K-$114K,Contract,Male,Data Analyst,Data Scientist,Data Scientists use their expertise in data an...,Machine learning algorithms and libraries (e.g...,Apply machine learning algorithms and statisti...
1,5.0,MCA,$56K-$125K,Temporary,Both,Data Analyst,Data Scientist,Data Scientists use their expertise in data an...,Machine learning algorithms and libraries (e.g...,Apply machine learning algorithms and statisti...
2,3.0,BBA,$62K-$100K,Contract,Male,Data Analyst,Business Intelligence Analyst,Business Intelligence Analysts gather and anal...,"Data analysis and visualization tools (e.g., T...",Gather and analyze data to provide insights fo...
3,4.0,BA,$61K-$115K,Full-Time,Female,Data Analyst,Data Scientist,Data Scientists use their expertise in data an...,Machine learning algorithms and libraries (e.g...,Apply machine learning algorithms and statisti...
4,3.0,MBA,$63K-$128K,Intern,Both,Data Analyst,Business Intelligence Analyst,Business Intelligence Analysts gather and anal...,"Data analysis and visualization tools (e.g., T...",Gather and analyze data to provide insights fo...

In [11]:
def convert_salary_range(s):
    if pd.isna(s):
        return None
    s=s.replace('$','').replace('K','')
    low,high=s.split('-')
    return (float(low)+float(high))/2*1000
df['salary_avg']=df['salary_range'].apply(convert_salary_range)

In [12]:
df.head()

,experience,qualification,salary_range,work_type,gender,job_title,role,job_description,skills,responsibilities,salary_avg
0,4.0,B.Tech,$60K-$114K,Contract,Male,Data Analyst,Data Scientist,Data Scientists use their expertise in data an...,Machine learning algorithms and libraries (e.g...,Apply machine learning algorithms and statisti...,87000.0
1,5.0,MCA,$56K-$125K,Temporary,Both,Data Analyst,Data Scientist,Data Scientists use their expertise in data an...,Machine learning algorithms and libraries (e.g...,Apply machine learning algorithms and statisti...,90500.0
2,3.0,BBA,$62K-$100K,Contract,Male,Data Analyst,Business Intelligence Analyst,Business Intelligence Analysts gather and anal...,"Data analysis and visualization tools (e.g., T...",Gather and analyze data to provide insights fo...,81000.0
3,4.0,BA,$61K-$115K,Full-Time,Female,Data Analyst,Data Scientist,Data Scientists use their expertise in data an...,Machine learning algorithms and libraries (e.g...,Apply machine learning algorithms and statisti...,88000.0
4,3.0,MBA,$63K-$128K,Intern,Both,Data Analyst,Business Intelligence Analyst,Business Intelligence Analysts gather and anal...,"Data analysis and visualization tools (e.g., T...",Gather and analyze data to provide insights fo...,95500.0

In [13]:
df=df.drop('salary_range',axis=1)

In [14]:
df.head()

,experience,qualification,work_type,gender,job_title,role,job_description,skills,responsibilities,salary_avg
0,4.0,B.Tech,Contract,Male,Data Analyst,Data Scientist,Data Scientists use their expertise in data an...,Machine learning algorithms and libraries (e.g...,Apply machine learning algorithms and statisti...,87000.0
1,5.0,MCA,Temporary,Both,Data Analyst,Data Scientist,Data Scientists use their expertise in data an...,Machine learning algorithms and libraries (e.g...,Apply machine learning algorithms and statisti...,90500.0
2,3.0,BBA,Contract,Male,Data Analyst,Business Intelligence Analyst,Business Intelligence Analysts gather and anal...,"Data analysis and visualization tools (e.g., T...",Gather and analyze data to provide insights fo...,81000.0
3,4.0,BA,Full-Time,Female,Data Analyst,Data Scientist,Data Scientists use their expertise in data an...,Machine learning algorithms and libraries (e.g...,Apply machine learning algorithms and statisti...,88000.0
4,3.0,MBA,Intern,Both,Data Analyst,Business Intelligence Analyst,Business Intelligence Analysts gather and anal...,"Data analysis and visualization tools (e.g., T...",Gather and analyze data to provide insights fo...,95500.0

In [15]:
df.head()

,experience,qualification,work_type,gender,job_title,role,job_description,skills,responsibilities,salary_avg
0,4.0,B.Tech,Contract,Male,Data Analyst,Data Scientist,Data Scientists use their expertise in data an...,Machine learning algorithms and libraries (e.g...,Apply machine learning algorithms and statisti...,87000.0
1,5.0,MCA,Temporary,Both,Data Analyst,Data Scientist,Data Scientists use their expertise in data an...,Machine learning algorithms and libraries (e.g...,Apply machine learning algorithms and statisti...,90500.0
2,3.0,BBA,Contract,Male,Data Analyst,Business Intelligence Analyst,Business Intelligence Analysts gather and anal...,"Data analysis and visualization tools (e.g., T...",Gather and analyze data to provide insights fo...,81000.0
3,4.0,BA,Full-Time,Female,Data Analyst,Data Scientist,Data Scientists use their expertise in data an...,Machine learning algorithms and libraries (e.g...,Apply machine learning algorithms and statisti...,88000.0
4,3.0,MBA,Intern,Both,Data Analyst,Business Intelligence Analyst,Business Intelligence Analysts gather and anal...,"Data analysis and visualization tools (e.g., T...",Gather and analyze data to provide insights fo...,95500.0

In [16]:
df['combined'] = (
    
    df['work_type'].astype(str) + ' ' +
    df['role'].astype(str) + ' ' +
    df['job_description'].astype(str) + ' ' +
    df['skills'].astype(str) + ' ' +
    df['responsibilities'].astype(str)
)

In [17]:
df.to_csv('it_job_descriptions_cleaned.csv',index=False)